<!DOCTYPE html>
<html lang="en-US">
	<head>
		<!-- Title -->
		<title>Expense Tracker</title>
		
		<!-- CSS -->
		<link rel="stylesheet" href="assets/lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/main.css">
		
		<!-- Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Ralfe Poisson">
	</head>
	<body>
		<div class="navbar navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="./">Expense Tracker</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">	
						<li><a href="./">Home</a></li>
						<li><a href="?p=analysis">Analysis</a></li>
						<li><a href="?p=import">Import Statements</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="?p=categories">Categories</a></li>
								<li><a href="?p=statement_templates">Statement Templates</a></li>
								<li><a href="?p=accounts">Accounts</a></li>
								<li><a href="?p=rules">Rules</a></li>
							</ul>
						</li>						
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a>{{USERNAME}}</a></li>
						<li><a href="?p=logout">Logout</a></li>
					</ul>
				</div><!-- /.nav-collapse -->
			</div><!-- /.container -->
		</div><!-- /.navbar -->
		
		<div class="container">
			<div class="row">
				{{CONTENT}}
			</div>
			
			<!-- Footer -->
			<hr>
			<div class="footer">
				<p>Copyright &copy; Personal Trainer</a> 2013</p>
			</div>

		</div> <!-- /container -->
		
		<!-- Modal: Loading Modal -->
		<div class="modal fade" id="loading_modal" tabindex="-1" role="dialog" aria-labelledby="loading_modal_label" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="loading_modal_label">Please wait while loading...</h4>
					</div>
					<div class="modal-body">
						<img src="img/loading.gif" />
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
		
		<!-- Include Javascript -->
		<script src="assets/js/jquery.js"></script>
		<script src="http://code.jquery.com/ui/jquery-ui-git.js"></script>
		<script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="assets/js/main.js"></script>
	</body>
</html>
