<h1>Analysis</h1>

<div class='panel panel-default'>
	<form method='POST' action='#'>
		<!-- Start Date -->
		<input type='date' name='start_date' value='{{start_date}}' placeholder='Start Date'>
	
		<!-- End Date -->
		<input type='date' name='end_date' value='{{end_date}}' placeholder='End Date'>
	
		<!-- Order By -->
		<input type='text' name='order_by' value='{{order_by}}' placeholder='Order by'>
	
		<!-- Group by -->
		<input type='text' name='group_by' value='{{group_by}}' placeholder='Group by'>
	
		<!-- Min Count -->
		<input type='number' name='min_count' value='{{min_count}}' placeholder='Min count'>
	
		<!-- Submit -->
		<input type='submit' value='Go'>
	</form>
</div>

<table width="100%">
	<tr>
		<td valign="top">
			
			<table class="table">
				<tr>
					<th>Date</th>
					<th>Description</th>
					<th>Amount</th>
					<th>Count</th>
					<th>Category</th>
				</tr>
				{{listing}}
			</table>

		</td>
		<td style="width:50px">
			&nbsp;
		</td>
		<td valign="top">
			
			<table class="table">
				<tr>
					<th>Income</th>
					<td>{{income}}</td>
				</tr>
				<tr>
					<th>Expenses</th>
					<td>{{expenses}}</td>
				</tr>
			</table>
			<br><br>

			<table class="table">
				{{summary}}
			</table>
			<br><br>

		</td>
	</tr>
</table>

<!-- Modal: New Rule Modal -->
<div class="modal fade" id="new_rule_modal" tabindex="-1" role="dialog" aria-labelledby="new_rule_modal_label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="new_rule_modal_label">Create a new Rule</h4>
			</div>
			<div class="modal-body">
				<strong>Pattern</strong><br>
				<input type="text" id="new_pattern">
				<br><br>
				
				<strong>Category</strong><br>
				{{category_select}}
				<br><br>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="add_rule();">Add</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

